
:root .insert-image-widget-dropdown-content {
	& > div > div {
		padding: 5px;
	}
	
	img {
		max-width: min(50vw, 75%);
		max-height: 50vh;
	
		/* Center */
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.action-button-row {
		margin-top: 4px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		// Ensure that (on toolbars that support it), the action button
		// is touching the bottom edge of the screen.
		padding-bottom: 0;
		margin-bottom: 0;
	}
	
	.action-button-row > button {
		flex-grow: 1;
		text-align: end;
		color: var(--primary-action-foreground-color);
		max-width: 50%;
		min-width: min(100%, 40px);
	}
}