$image-widget-selector: '.insert-image-widget-dropdown-content';
// Repeat the selector for additional specificity.
:root #{$image-widget-selector}#{$image-widget-selector}#{$image-widget-selector} {
	& > div > div {
		padding: 5px;
	}

	& > div {
		min-height: 0;
	}

	img {
		max-width: min(50vw, 75%);
		max-height: min(300px, 50vh);

		/* Center */
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.insert-image-image-status-view {
		display: flex;
		justify-content: space-between;
	}

	.action-button-row {
		margin-top: 4px;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		// Ensure that (on toolbars that support it), the action button
		// is touching the bottom edge of the screen.
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.action-button-row > button {
		flex-grow: 1;
		text-align: end;
		max-width: 50%;
		min-width: min(100%, 40px);
	}
}
