// Repeat selector for extra specificity
:root .toolbar--pen-tool-toggle-buttons.toolbar--pen-tool-toggle-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
	padding-top: 0;
	padding-bottom: 5px;
	gap: 5px;

	// Some styles rely on left being start.
	direction: ltr;

	& > * {
		flex-grow: 1;
		text-align: start;
		width: min-content;

		> .icon {
			margin-inline-start: 6px;
			margin-inline-end: 10px;
		}
	}

	& > :nth-child(2) {
		text-align: center;
	}

	& > :nth-child(3) {
		direction: rtl;
	}
}
