
.new-image-dialog-background {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.2);
}

.new-image-dialog-background .new-image-dialog {
    background-color: #ffe;
    border-radius: 4px;

    font-family: sans-serif;
    padding: 20px;
}

.new-image-template-button {
    background-color: #eee;
    border: none;
    color: black;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-image-template-button div {
    text-align: center;
}

.new-image-template-button .icon {
    width: 95%;
}

.new-image-template-button:hover {
    background-color: #ddd;
}

@media (prefers-color-scheme: dark) {
    .new-image-dialog-background .new-image-dialog {
        background-color: #111;
    }

    .new-image-template-button {
        background-color: #222;
        color: white;
    }

    .new-image-template-button:hover {
        background-color: #444;
    }
}