.new-image-template-button {
	background-color: #eee;
	border: none;
	color: black;
	border-radius: 5px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.new-image-template-button div {
	text-align: center;
}

.new-image-template-button .icon {
	width: 300px;
	height: 150px;

	object-position: left top;
	object-fit: none; /* Do not resize to fit container */
}

.new-image-template-button:hover {
	background-color: #ddd;
}

.from-template-container {
	max-height: 400px;
	overflow-y: auto;
}

@media (prefers-color-scheme: dark) {
	.new-image-template-button {
		background-color: #222;
		color: white;
	}

	.new-image-template-button:hover {
		background-color: #444;
	}
}
