
@use './makeAboutDialog.scss';

// Repeat to increase specificity -- dialog containers are often overlays
.dialog-container.dialog-container {
	background-color: var( --background-color-transparent);

	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);

	// Show above other items
	position: absolute;
	z-index: 3;

	// Fill the editor
	width: var(--editor-current-width-px);
	height: var(--editor-current-height-px);

	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;

	dialog {
		background-color: var(--background-color-1);
		color: var(--foreground-color-1);
		border: none;
		outline: none;
	
		box-shadow: 0 0 2px var(--shadow-color);
		border-radius: 8px;

		max-height: 90vh;
		width: min(100%, 500px);
		box-sizing: border-box;
	}
}