
@use './makeAboutDialog.scss';

.dialog-container {
	background-color: var( --primary-background-color-transparent);

	backdrop-filter: blur(5px);

	// Show above other items
	position: absolute;
	z-index: 3;

	// Fill the editor
	width: inherit;
	height: inherit;

	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;

	dialog {
		background-color: var(--primary-background-color);
		color: var(--primary-foreground-color);
		border: none;
		outline: none;
	
		box-shadow: 0 0 2px var(--primary-shadow-color);
		border-radius: 8px;

		max-height: 90vh;
		width: min(100%, 500px);
		box-sizing: border-box;
	}
}