.about-dialog-container > dialog > .content {
	white-space: pre-wrap;
	font-family: monospace;

	& > h2,
	& > details > summary {
		cursor: pointer;
		margin-top: 15px;

		font-size: 1.2em;
		font-weight: bold;

		a {
			color: var(--foreground-color-1);
			text-decoration: underline;
		}
	}
}
