
.toolbar--file-input-container {
	display: flex;

	> input[type="file"] {
		// Hide in a way such that screen readers can still access the
		// input.
		opacity: 0;
		width: 0;
		max-width: 0;
		height: 0;
	}

	> label {
		display: block;
		flex-grow: 1;

		padding-bottom: 5px;

		--active-border-color: color-mix(
			in srgb, var(--primary-foreground-color), transparent
		);

		> .toolbar--file-input-description {
			border: 1px dashed var(--active-border-color);
			margin-top: 10px;
			padding: 10px;

			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;

			--action-color: var(--primary-action-foreground-color);
			--icon-color: var(--action-color);

			> span {
				margin-top: 6px;

				// Allow `\n`s to create new lines
				white-space: pre-wrap;

				> b {
					color: var(--action-color);
					cursor: pointer;
				}
			}

			> .icon {
				$size: min(50vw, 42px);
				width: $size;
				height: $size;

				display: block;
			}
		}



		&:active, &:hover {
			--active-border-color: var(--primary-foreground-color);
		}
	}
}