@keyframes toolbar--sidebar-transition-in {
	from { translate: 0 100%; }
	to { translate: 0; }
}

@keyframes toolbar--sidebar-transition-out {
	// Don't include `from { translate: 0 }` because initially,
	// the translation might not be zero (e.g. during a drag).
	to { translate: 0 100%; }
}

@keyframes toolbar--sidebar-container-transition-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes toolbar--sidebar-container-transition-out {
	from { opacity: 1; }
	to { opacity: 0; }
}

.toolbar-element.toolbar-sidebar-toolbar {
	--toolbar-button-height: min(20vh, 48px);
	box-sizing: border-box;

	.toolbar-toolContainer.selected > .toolbar-button {
		background-color: var(--selection-background-color);
		color: var(--selection-foreground-color);
	}

	.toolbar-button {
		box-sizing: border-box;
		background-color: transparent;

		$label-hover-offset: calc(var(--toolbar-button-height) + 10px);
		$label-visible-opacity: 0.8;

		width: var(--toolbar-button-height);
		height: var(--toolbar-button-height);

		// Make the label hide only when hovering.

		@keyframes rehide-label {
			0% { opacity: $label-visible-opacity; }
			80% { opacity: $label-visible-opacity; }
			100% { opacity: 0.1; }
		}

		@keyframes show-label {
			0% { opacity: 0; }
			// Keep the label hidden before showing
			80% { opacity: 0; }
			100% { opacity: $label-visible-opacity; }
		}

		@keyframes keep-label-hidden {
			0% { opacity: 0; }
			100% { opacity: 0; }
		}
		// Only show an animation when opening the label due to a hover --
		// show the label immediately otherwise.
		&:hover > label {
			opacity: $label-visible-opacity;

			$animation-length: 1s;
			animation: $animation-length ease show-label;
		}

		&:focus-visible > label {
			// Show, then hide labels on keyboard focus
			animation: 1.5s ease rehide-label;
			opacity: 0;
		}

		& > label {
			opacity: 0;
			position: absolute;
			margin-top: $label-hover-offset;

			// The label is often mostly invisible/just below a toolbar item.
			// If there are multiple toolbar rows, ensure that a label doesn't prevent
			// clicking on items in the second row:
			pointer-events: none;

			background-color: var(--primary-background-color);
			color: var(--primary-foreground-color);
			border-radius: 25px;
			padding: 10px;

			transition: 0.2s ease opacity, 0.2s ease margin-top;

			@media (prefers-reduced-motion: reduce) {
				transition: none;
			}
		}

		.toolbar-showHideDropdownIcon {
			// Shrink, but not as fast as everything else.
			flex-shrink: 0.01;

			height: 12px;
		}
	}

	& > .toolbar-toolContainer:not(.selected):not(.dropdownShowable) > .toolbar-button > .toolbar-showHideDropdownIcon {
		display: block;
		visibility: hidden;
	}

	.toolbar-toolContainer > .toolbar-button {
		margin: 0;
		border-radius: 0;

		padding: 8px;

		&.has-dropdown {
			padding-left: 8px;
			padding-right: 8px;
			padding-top: 8px;
			padding-bottom: 0px;
		}


		box-shadow: none;
	}
}

// Restyle the sidebar so that colors can be selected when the pipette tool is enabled.
.imageEditorContainer.pipette--color-selection-in-progress {
	.toolbar-sidebar-container {
		height: 0;
		background-color: transparent;

		opacity: 0.9;

		.toolbar-sidebar {
			position: absolute;
		}
	}
}

.toolbar-sidebar-container {
	background-color: var(--primary-background-color-transparent);

	transition: 0.15s ease-in-out height, 0.15s ease-in-out background-color;
	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}

	position: absolute;
	width: inherit;
	height: inherit;

	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	z-index: 2;

	.toolbar-element button {
		font-size: 1.2em;
		box-shadow: none;
		border: none;
		padding: 10px;

		transition: 0.2s ease box-shadow;

		&:hover {
			box-shadow: 0 1px 2px var(--primary-shadow-color);
		}
	}
}

.toolbar-sidebar-container .toolbar-sidebar {
	--toolbar-button-height: 48px;

	touch-action: none;
	user-select: none;

	background-color: var(--primary-background-color);
	--icon-color: var(--primary-foreground-color);

	box-shadow: 0px 0px 2px var(--primary-shadow-color);

	padding-left: 10px;
	padding-right: 10px;

	width: min(400px, 100vw);
	box-sizing: border-box;

	$border-radius: 30px;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;

	transition: translate 0.1s ease, padding-bottom 0.1s ease;

	input, textarea {
		user-select: auto;
	}

	.toolbar-toolContainer {
		display: inline-block;
	}

	& > button.drag-elem {
		height: 40px;
		display: block;

		cursor: ns-resize;

		position: relative;
		margin-top: -15px;
		margin-bottom: 10px;

		width: 100%;
		border: none;
		box-shadow: none;

		background: transparent;
		
		&::before {
			content: "";

			background-color: var(--icon-color);
			opacity: 0.2;
			display: block;

			position: relative;
			top: 10px;

			height: 5px;
			border-radius: 5px;

			width: min(80%, 40px);
			margin-left: auto;
			margin-right: auto;
		}
	}

	.toolbar-toolContainer {
		display: block;

		.toolbar-button {
			flex-direction: row;
			max-width: unset;
			width: 100%;
			box-sizing: border-box;
			justify-content: flex-start;
			box-shadow: none;

			padding: 2px;

			& > .toolbar-icon {
				width: 36px;
				height: 36px;
				padding: 8px;

				margin-right: 15px;
			}

			// No special sizing for long labels
			label, & > label.long-label {
				font-size: 1em;
			}
		}
	}

	.toolbar-spacedList {
		box-sizing: border-box;

		& > div {
			display: flex;

			// Space between items
			margin-top: 15px;

			// Align inputs (assumes labels come first)
			& > label {
				padding-right: 10px;
				min-width: 100px;
				flex-shrink: 1;
			}

			// If checkboxes have flex-grow, the checkbox region can become centered.
			& > input:not([type="checkbox"]) {
				flex-grow: 1;

				// Specify a minimum width to allow the input to shrink.
				min-width: 48px;
				flex-shrink: 1;
			}
		}
	}
}
