@keyframes toolbar--sidebar-transition-in {
	from { translate: 0 100%; }
	to { translate: 0; }
}

@keyframes toolbar--sidebar-transition-out {
	// Don't include `from { translate: 0 }` because initially,
	// the translation might not be zero (e.g. during a drag).
	to { translate: 0 100%; }
}

@keyframes toolbar--sidebar-container-transition-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes toolbar--sidebar-container-transition-out {
	from { opacity: 1; }
	to { opacity: 0; }
}

.toolbar-sidebar-container {
	background-color: var(--primary-background-color-transparent);

	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	z-index: 2;

	.toolbar-element button {
		font-size: 1.2em;
		box-shadow: none;
		border: none;
		padding: 10px;

		transition: 0.2s ease box-shadow;

		&:hover {
			box-shadow: 0 1px 2px var(--primary-shadow-color);
		}
	}
}

.toolbar-sidebar-container .toolbar-sidebar {
	touch-action: none;
	user-select: none;

	background-color: var(--primary-background-color);
	--icon-color: var(--primary-foreground-color);

	box-shadow: 0px 0px 2px var(--primary-shadow-color);

	padding-left: 10px;
	padding-right: 10px;

	width: min(400px, 100vw);
	box-sizing: border-box;

	$border-radius: 30px;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;

	transition: translate 0.1s ease, padding-bottom 0.1s ease;

	input, textarea {
		user-select: auto;
	}

	.toolbar-toolContainer {
		display: inline-block;
	}

	& > button.drag-elem {
		height: 40px;
		display: block;

		cursor: ns-resize;

		position: relative;
		margin-top: -15px;
		margin-bottom: 10px;

		width: 100%;
		border: none;
		box-shadow: none;

		background: transparent;
		
		&::before {
			content: "";

			background-color: var(--icon-color);
			opacity: 0.2;
			display: block;

			position: relative;
			top: 10px;

			height: 5px;
			border-radius: 5px;

			width: min(80%, 40px);
			margin-left: auto;
			margin-right: auto;
		}
	}

	.toolbar-toolContainer {
		display: block;

		.toolbar-button {
			flex-direction: row;
			max-width: unset;
			width: 100%;
			box-sizing: border-box;
			justify-content: flex-start;

			& > .toolbar-icon {
				height: 40px;
				padding: 10px;
				margin-right: 20px;
			}

			// No special sizing for long labels
			label, & > label.long-label {
				font-size: 1em;
			}
		}
	}
}
