
.toolbar-image-selection-overlay {
	position: absolute;

	width: 100%;
	height: 100%;
	z-index: 10;

	display: flex;
	align-items: center;
	justify-content: center;
}

.toolbar-image-selection-overlay > div {
	background: var(--primary-background-color);
	box-shadow: 1px 2px 0px var(--primary-shadow-color);

	padding: 18px;
	border-radius: 3px;
}

.toolbar-image-selection-overlay > div > div {
	padding: 5px;
}

.toolbar-image-selection-overlay img {
	max-width: min(50vw, 75%);
	max-height: 50vh;

	/* Center */
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.toolbar-image-selection-overlay .action-button-row {
	margin-top: 4px;
	display: flex;
	flex-direction: row;
}

.toolbar-image-selection-overlay .action-button-row > button {
	flex-grow: 1;
}