
.toolbar-overflow-widget-overflow-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.toolbar-overflow-widget-overflow-list > .toolbar-toolContainer > .toolbar-button {
	height: var(--toolbar-button-height);
}

.toolbar-overflow-widget.horizontal .toolbar-overflow-widget-overflow-list {
	flex-direction: row;
}

.toolbar-overflow-widget.horizontal > .toolbar-dropdown {
	max-width: 100%;
	left: 15px;
	right: 15px;

	/* Override the default transform and margin-left */
	margin-left: 0 !important;
	transform: none !important;

	padding: 4px;
}