
.selection-tool-selection-background {
	background-color: var(--selection-background-color);
	opacity: 0.5;
	overflow: visible;
	position: absolute;
}

.selection-tool-handle {
	border: 1px solid var(--foreground-color-1);
	background: var(--background-color-1);
	position: absolute;
	cursor: grab;
}

.selection-tool-handle.selection-tool-circle {
	border-radius: 100%;
}

.overlay.handleOverlay {
	height: 0;
	overflow: visible;
}

@keyframes selection-duplicated-animation {
	0% { transform: scale(1, 1); }
	50% { transform: scale(1.02, 1.02); }
	100% { transform: scale(1, 1); }
}

/* Do not run the animation when the user has disabled motion animations. */
@media (prefers-reduced-motion: reduce) {
	@keyframes selection-duplicated-animation {
	}
}