
@use './toolbar/toolbar.scss';
@use './tools/tools.scss';
@use './dialogs/dialogs.scss';
@use './Coloris.css';

/* Deafult colors for the editor */
.imageEditorContainer {
	// The primary background/foreground colors are used for
	// unselected buttons and dialog text.
    --primary-background-color: white;
    --primary-foreground-color: black;

	// The secondary foreground/background colors are used for some menu/toolbar
	// backgrounds.
    --secondary-background-color: #e5e5e5;
    --secondary-foreground-color: #2c303a;

	// The selection background/foreground colors are used for selected
	// buttons.
    --selection-background-color: #faa;
    --selection-foreground-color: black;

	// Used for dialog backgrounds
    --primary-background-color-transparent: rgba(105, 100, 100, 0.5);

	// Used for shadows
	--primary-shadow-color: rgba(0, 0, 0, 0.5);

	// Color used for some button foregrounds
	--primary-action-foreground-color: color-mix(
		in srgb, var(--primary-foreground-color), #0070ea
	);
}

@media (prefers-color-scheme: dark) {
	.imageEditorContainer {
		--primary-background-color: #151515;
		--primary-foreground-color: white;

		--secondary-background-color: #222;
		--secondary-foreground-color: #efefef;

		--selection-background-color: #607;
		--selection-foreground-color: white;
		--primary-shadow-color: rgba(250, 250, 250, 0.5);
		--primary-background-color-transparent: rgba(50, 50, 50, 0.5);
	}
}

.imageEditorContainer {
	color: var(--primary-foreground-color);
	font-family: system-ui, -apple-system, sans-serif;
	background-color: var(--primary-background-color);

	display: flex;
	flex-direction: column-reverse;
}

.imageEditorContainer .imageEditorRenderArea {
	display: grid;
	grid-template-columns: 1fr;
	flex-grow: 2;
	flex-shrink: 1;
	min-height: 100px;
}

.imageEditorContainer .imageEditorRenderArea canvas {
	/* Stack all canvases on top of each other */
	grid-row: 1 / 1;
	grid-column: 1 / 1;
	touch-action: none;

	/* Fill the container */
	box-sizing: border-box;
	width: 100%;
	height: 100%;

	/* Allow the canvas to shrink (needed in Chrome) */
	min-height: 0px;
	max-height: inherit;
}

.imageEditorContainer .loadingMessage {
	position: fixed;
	text-align: center;
	font-size: 2em;

	bottom: 0;
	left: 0;
	right: 0;
}

.imageEditorContainer .accessibilityAnnouncement {
	opacity: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	pointer-events: none;
}

.imageEditorContainer .textRendererOutputContainer {
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.imageEditorContainer .textRendererOutputContainer:focus-within {
	overflow: visible;
	z-index: 5;
}

@media print {
	.imageEditorContainer .loadingMessage {
		display: none;
	}

	.imageEditorContainer .imageEditorRenderArea canvas {
		width: 100%;
		height: initial;
	}
}