
@import url('./toolbar/toolbar.css');

.imageEditorContainer {
	/* Deafult colors for the editor */
    --primary-background-color: white;
    --primary-background-color-transparent: rgba(255, 255, 255, 0.5);
    --secondary-background-color: #faf;
    --primary-foreground-color: black;
    --secondary-foreground-color: black;
}

@media (prefers-color-scheme: dark) {
	.imageEditorContainer {
		/* Deafult colors for the editor */
		--primary-background-color: #151515;
		--primary-background-color-transparent: rgba(50, 50, 50, 0.5);
		--secondary-background-color: #607;
		--primary-foreground-color: white;
		--secondary-foreground-color: white;
	}
}

.imageEditorContainer {
	color: var(--primary-foreground-color);
	font-family: system-ui, -apple-system, sans-serif;
	background-color: var(--primary-background-color);

	display: flex;
	flex-direction: column-reverse;
}

.imageEditorContainer .imageEditorRenderArea {
	display: grid;
	grid-template-columns: 1fr;
	flex-grow: 2;
	flex-shrink: 1;
	min-height: 100px;
}

.imageEditorContainer .imageEditorRenderArea canvas {
	/* Stack all canvases on top of each other */
	grid-row: 1 / 1;
	grid-column: 1 / 1;
	touch-action: none;

	/* Fill the container */
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.imageEditorContainer .loadingMessage {
	position: fixed;
	text-align: center;
	font-size: 2em;

	bottom: 0;
	left: 0;
	right: 0;
}

.imageEditorContainer .accessibilityAnnouncement {
	opacity: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	pointer-events: none;
}
