name: Run Tests on PR
on:
  pull_request:

permissions:
  contents: read

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: yarn install
      - name: Test imports
        run: yarn run dist-test
      - name: Run tests
        run: yarn run test
      - name: Lint
        run: yarn run lint-ci
      - name: Build example app
        run: cd docs/demo && yarn run build
