name: Run Tests on PR
on:
  pull_request:

permissions:
  contents: read

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: npm install
      - name: Test imports
        run: npm run dist-test
      - name: Run tests
        run: npm run test
      - name: Lint
        run: npm run lint-ci
      - name: Check formatting
        run: npm run format-ci
      - name: Build example app
        run: cd docs/demo && npm run build
